body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    margin: 0px;
    padding: 0px 64px;
}

.header_logo {
    flex: 1;
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    flex: 1;
    justify-content: right;
    list-style-type: none;
}

li {
    flex: 1;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    display: flex;
    flex: 1 1 auto;
    background-color: #1F2937;
    justify-content: space-evenly;
    padding: 64px;
    margin: 0;
}

.hero_leftbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero_rightbox > img {
    flex:1;
    width: 30%;
    background-color: grey;
    margin: 32px;
}

.hero_title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.signup1 {
    display: block;
}

.content {
    display: flex;
    flex: 20;
    flex-direction: column;
    
}

.information {
    flex:1;
    display: flex;
    flex-direction: column;
}

.subtext_images {
    flex: 1;
    display: flex;
}

figure {
    flex: 1 1 auto;
}

img {
    flex: 1;
    width: 100%;
}

.quote {
    flex: 1;
}

.cta {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    padding:
}

footer {
    height: 16px;
}